@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

:root {
    --green: #8EDA65;
    --red: #D55D5D;
    --blue: #00AEFF;
    --orange: #FFB65C;
    --white: #FFFFFF;
    --bg-color: #E5EBEE;
    --bg-color-disabled: rgba(25, 34, 38, 0.05);
    --text-color: #192226;
    --text-color-disabled: rgba(25, 34, 38, 0.2);
    --text-legend: #506b77;
    --border-color: #CCD8DD;
    --border-color-disabled: rgba(25, 34, 38, 0.02);
    --shadow-color: rgba(88, 124, 141, 0.1);
    --radius: 3px;
    --gap-xs: 5px;
    --gap-sm: 10px;
    --gap: 20px;
    --gap-md: 30px;
    --gap-lg: 60px;
    --nav-height: 80px;
    --font-family: 'Open Sans';
    --font-xxs: 11px;
    --font-xs: 12px;
    --font-sm: 13px;
    --font-md: 15px;
    --font-lg: 17px;
    --font-xl: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}

a, a:hover {
    color: var(--blue);
}

/* Override modal styles */

.modal-content {
    padding: var(--gap-md) !important;
    min-width: 350px;
    text-align: center;
}

.modal-body {
    padding: 0;
}

.modal-dialog h4 {
    font-family: var(--font-family);
    font-size: var(--font-md);
    color: var(--text-color);
    line-height: 20px;
}

.modal-content img {
    padding-bottom: var(--gap-md);
}

.modal-content button {
    margin-top: var(--gap);
    padding: var(--gap-sm) var(--gap-lg);
}